<header class="p-3 bg-dark text-white text-center"></header>
{{#if productos}}
<fieldset>


<table class="table table-success table-striped-columns">
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>$ {{price}}</td>
            <td><img style="width: 50px; height:50px" src={{thumbnail}} alt=""></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<h2>No hay productos</h2>
{{/if}}
</fieldset>
<a href="http://localhost:8080/api/productos/cargarHbs">
   <input type="button" value="Cargar Productos" />
</a>